{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container">
    

     <div>
       
        <h3>Browse Topics</h3>
         <hr>
         <div>
            <a href="{% url 'home' %}">ALL</a>
         </div>
        {% for t in topic %}
         <div>
            <a href="{% url 'home' %}?q={{t.name}}">{{t.name}}</a>
         </div>
        {% endfor %}
     </div>
    
     <div>
        
  <h2>HOME PAGE</h2>
  <a href="{% url 'Create-Room' %}">Create Room</a>
   {% if room_count > 1 %}
   <h3>{{room_count}} ROOMS AVAILABLE</h3>
   {% else%}
    <h3>{{room_count}} ROOM AVAILABLE</h3>
   {% endif %}
   
 {% for room in rooms %}
  <div>
   <span>USER : @{{room.host}} ---------------</span>
   <span>TOPIC : {{room.topic}}</span>
   <h3>ROOM ID : {{room.id}}  ------- <a href="{% url 'room' room.id %}">{{room.name}}</a></h3> 

   {% if request.user == room.host %}
    <h3><a href="{% url 'Update-Room' room.id %}">EDIT</a></h3> <h3><a href="{% url 'Delete-Room' room.id %}">DELETE</a></h3>
   {% endif %}
   
   <hr>
  </div>
 {% endfor %}

 </div>

     <div>
       {% include 'base/activity_component.html' %}

     </div>
 
    
</div>
{% endblock content %}
    
